
@import '../../styles/variables.scss';

.menu{
    background-color: $menu-bg-color;
    width: 170px;
    border: 2px solid $menu-border-color;
    border-radius: 4px;
    padding: 10px;
    &__title{
        font-size:16px;
        font-weight: normal;
        margin: 0;
        padding:10px 0 20px;
    }
    &__items{
        border: 1px solid $menu-border-color;
        border-radius: 4px;
        background-color: $menu-items-bg-color;
        cursor: pointer;
    }
    &__item{

        display: block;
        padding: 5px 10px;
        margin: 10px;
        color: $menu-text-color;
<<<<<<< HEAD
=======

>>>>>>> 56ef47c024903cd24df948ad9a424c9bb8cc7bd2
        &--selected{
            background-color: $menu-item-selected-bg-color;
            color: $menu-item-selected-text-color;
        }
<<<<<<< HEAD
=======

>>>>>>> 56ef47c024903cd24df948ad9a424c9bb8cc7bd2
        &:hover{
            background-color: $menu-item-selected-bg-color;
            color: $menu-item-selected-text-color;
        }
    }

}
